.movie-section{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    gap: 50px;
    justify-content: center;

}

.card{
    width: 200px;
    height: 300px;
    border: 1px black solid;
    border-radius: 5px;

}

.card img{
    width: 100%;
    height: 250px;
}