{% extends 'base.html' %}

    <title>{% block title %}BookHive - All Author{% endblock %}</title>
{% block content %}
    <h1>
        All Author
    </h1>
    <main id="list-authors">
        <div class="authors-list">
             <!-- image,name,place are fields or attributes mentioned in Author Class (model) -->
        {% for written in authors %}
        <div class="card">
            <img src="{{written.image.url}}" >
            <h4>{{written.name}}</h4>
            <p>{{written.place}}</p>
            <a href="{% url 'author-detail' written.slug %}">View Details</a>
        </div>
        {% endfor %}
    </div>
        </div>
    </main>
  
       
{% endblock %}
