{% extends 'base.html' %}

    <title>{% block title %}BookHive - All Author{% endblock %}</title>
{% block content %}
    <h1>
        All Author
    </h1>
            {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}" role="alert">
                    {{msg}}
                </div>
                
            {% endfor %}
    <main id="list-authors">
        <div class="authors-list">
             <!-- image,name,place are fields or attributes mentioned in Author Class (model) -->
        {% for written in authors %}
        <div class="card">
            <img src="{{written.image.url}}" >
            <h4>{{written.name}}</h4>
            <p>{{written.place}}</p>
            <a href="{{ written.get_absolute_url}}">View Details</a>
        </div>
        {% endfor %}
    </div>
        </div>
    </main>
  
       
{% endblock %}
