<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}" role="alert">
                    {{msg}}
                </div>
                
    {% endfor %}
    <main>
        <form class="register_form" method="post" action="{% url 'sign-up' %}" enctype="multipart/form-data" onsubmit="return  passwordvalidate()">
            {% csrf_token %}
            <h1>Register</h1>
            <div>
                <label>First name</label>
                <input type="text" name="f_name" required>
            </div>
            <div>
                <label>Last name</label>
                <input type="text" name="last_name" required>
            </div>
            <div>
                <label>E-mail</label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label>Profile Picture</label>
                <input type="file" name="profile_pic">
            </div>
            <div>
                <label>Create password</label>
                <input type="password" name="create_pass" id="create_pass"required>
            </div>
            <div>
                <label>Confirm password</label>
                <input type="password" name="confirm_pass" id="confirm_pass" required>
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>
    </main>
    <script>
        function passwordvalidate(){
            let password=document.getElementById('create_pass').value;
            let conpasswd=document.getElementById('confirm_pass').value;
            if (password==conpasswd)
            {
               return true
            }
            else{
               alert('password mismatch')
               return false
            }
        }
    </script>
</body>
</html>